<html>
  <head><meta charset="UTF-8"></head>
  <body>
  <h2>Registro de usuarios</h2>
  <p>{{ "now"|date("d M Y h:i")  }} <br/></p>
  <p>Hola, {{ nombre }}</p>
  
  <p>Gracias por su registro. Sus datos son los siguientes: </p>
  
  <p style="margin-left: 10px">
  Username: {{ usuario }} <br/>
  Password: {{ password }}
  </p>
  
  <p>Más info acerca del uso, bla, bla, bla</p>
  </body>
</html>

